{% load static %}

<!--DOCTYPE html-->
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great Alone</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}?{% now 'U' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'img/icon.png' %}" type="image/png">
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'main' %}"><img class="graficlogo" src="{% static 'img/logo.gif' %}" alt="Logo"></a>
        </div>
        <nav>
            <div class="topnav" id="myTopnav">
                <a href="{% url 'main' %}">HOME</a>
                <a href="#projects">PROJECTS</a>
                <a href="#blog">BLOG</a>
                <a href="#contact">CONTACT</a>
                <a href="#about">ABOUT</a>
                <a href="#services">SERVICES</a>
                <a href="{% url 'location' %}">LOCATION</a>
                <a id="menu" href="#" class="icon">&#9776;</a>
            </div>
        </nav>
    </header>

    <main>
        <div id="map">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa360971a283dbc01d63f26476d1ee12508ed0be4cadb024a199513fc49c3771c&amp;width=100%25&amp;height=720&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
    </main>

    <footer>
        <nav>
            <a href="{% url 'main' %}">HOME</a>
                <a href="#projects">PROJECTS</a>
                <a href="#blog">BLOG</a>
                <a href="#contact">CONTACT</a>
                <a href="#about">ABOUT</a>
                <a href="#services">SERVICES</a>
                <a href="{% url 'location' %}">LOCATION</a>
        </nav>
        <div class="great_alone">
            <a href="{% url 'main' %}"><img class="graficlogo" src="{% static 'img/great alone.png' %}" alt="Logo"></a>
        </div>
        <div class="social">
            <a href="#"><img src="{% static 'img/instagram.svg' %}" alt=""></a>
            <a href="#"><img src="{% static 'img/telegram.svg' %}" alt=""></a>
            <a href="#"><img src="{% static 'img/vk.svg' %}" alt=""></a>
            <a href="#"><img src="{% static 'img/youtube.svg' %}" alt=""></a>
        </div>
    </footer>

    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <script>
        jQuery(document).ready(function() {
        jQuery("a.scrollto").click(function () {
        elementClick = jQuery(this).attr("href")
        destination = jQuery(elementClick).offset().top;
        jQuery("html:not(:animated),body:not(:animated)").animate({scrollTop: destination}, 1100);
        return false;
        });
        });
    </script>
</body>
</html>